@model CustomerLegalPerson
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group form-group-float w-lg-50">
                        <label>Customer Type</label>
                        <select class="custom-select " name="customerTypeId">
                            @foreach (CustomerType customerType in ViewBag.CustomerTypes)
                            {
                                <option value="@customerType.Id">@customerType.Type</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Manager">Director</label>
                        <input asp-for="Manager" class="form-control" placeholder="Manager">
                        <span asp-validation-for="Manager" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Voen">Voen</label>
                        <input asp-for="Voen" class="form-control" placeholder="Voen">
                        <span asp-validation-for="Voen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LegalAddress">Legal Address</label>
                        <input asp-for="LegalAddress" class="form-control" placeholder="Legal Address">
                        <span asp-validation-for="LegalAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhysicalAddress">Physical Address</label>
                        <input asp-for="PhysicalAddress" class="form-control" placeholder="Physical Address">
                        <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Phone">Phone</label>
                        <input asp-for="Phone" class="form-control" placeholder="Phone">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mail">Mail</label>
                        <input asp-for="Mail" class="form-control" placeholder="Mail">
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                    <div class="form-group form-group-float w-lg-50">
                        <label>
                            Bank
                            <a class="btn btn-sm btn-success" href="/bank/create" target="_blank">Əlavə et</a>
                            <button type="button" id="bank-list-refresh" class="btn btn-sm btn-primary">Yenilə</button>
                        </label>
                        <select id="bank-list" class="custom-select" name="bankId" >
                            @foreach (Bank bank in ViewBag.Banks)
                            {
                                <option value="@bank.Id">Bank-@bank.Name; Swift-@bank.Swift; M/H-@bank.MH</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="HH1">AZN /H</label>
                        <input asp-for="HH1" class="form-control" placeholder="AZN H/H">
                        <span asp-validation-for="HH1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HH2">EURO H/H</label>
                        <input asp-for="HH2" class="form-control" placeholder="EURO H/H">
                        <span asp-validation-for="HH2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HH3">$ H/H</label>
                        <input asp-for="HH3" class="form-control" placeholder="$ H/H">
                        <span asp-validation-for="HH3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HH4">RUB H/H</label>
                        <input asp-for="HH4" class="form-control" placeholder="RUB H/H">
                        <span asp-validation-for="HH4" class="text-danger"></span>
                    </div>


                    @* <div class="form-group">
                        <label asp-for="Description">Note</label>
                        <input asp-for="Description" class="form-control" placeholder="Note">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
*@

                    <div class="form-group">
                        <label asp-for="Description">Note</label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>


                    <div class="form-group form-group-float" style="width: 50%">
                        <label asp-for="File">File</label>
                        <input accept="application/pdf" asp-for="File" class="form-control">
                        <span class="text-danger" asp-validation-for="File"></span>
                    </div>


                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a asp-action="Index" class="btn btn-secondary">Go back</a>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#bank-list-refresh').click(function () {
                $.ajax({
                    url: '/Bank/UpdateList',
                    type: 'POST',
                    success: function (response) {
                    const dropdown = $('#bank-list');

                        dropdown.empty();
                        for (let i = 0; i < response.length; i++) {
                            dropdown.append('<option value="' + response[i].id + '">' + 'Bank-' + response[i].name + '; Swift-' + response[i].swift 
                             + '; M/H-' +  response[i].mh+'</option>');
                          
                        }
                    }
                });
            });
        });
    </script>
}
