@model Bank
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">

                    <div class="form-group form-group-float w-lg-50">
                        <label>
                            Bank Group <a class="btn btn-sm btn-success" href="/bankgroup/create" target="_blank">Əlavə et</a>
                            <button type="button" id="bank-group-list-refresh" class="btn btn-sm btn-primary">Yenilə</button>
                        </label>
                        <select id="bank-group-list" class="custom-select " name="bankGroupId" class="selectpicker">
                            @foreach (BankGroup bankGroup in ViewBag.BankGroups)
                            {
                                <option value="@bankGroup.Id">@bankGroup.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Manager">Manager</label>
                        <input asp-for="Manager" class="form-control" placeholder="Manager">
                        <span asp-validation-for="Manager" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Voen">Voen</label>
                        <input asp-for="Voen" class="form-control" placeholder="Voen">
                        <span asp-validation-for="Voen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Swift">Swift</label>
                        <input asp-for="Swift" class="form-control" placeholder="Swift">
                        <span asp-validation-for="Swift" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Kod">Kod</label>
                        <input asp-for="Kod" class="form-control" placeholder="Kod">
                        <span asp-validation-for="Kod" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MH">M/H</label>
                        <input asp-for="MH" class="form-control" placeholder="M/H">
                        <span asp-validation-for="MH" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mail">Mail</label>
                        <input asp-for="Mail" class="form-control" placeholder="Mail">
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone">Phone</label>
                        <input asp-for="Phone" class="form-control" placeholder="Phone">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address">Address</label>
                        <input asp-for="Address" class="form-control" placeholder="Address">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group form-group-float" style="width: 50%">
                        <label asp-for="File">pdf file</label>
                        <input accept="application/pdf" asp-for="File" class="form-control">
                        <span class="text-danger" asp-validation-for="File"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a asp-action="Index" class="btn btn-secondary">Go back</a>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#bank-group-list-refresh').click(function () {
                $.ajax({
                    url: '/BankGroup/UpdateList',
                    type: 'POST',
                    success: function (response) {
                    const dropdown = $('#bank-group-list');
                        dropdown.empty();
                        for (let i = 0; i < response.length; i++) {
                            dropdown.append('<option value="' + response[i].id + '">' + response[i].name +'</option>');  
                        }
                    }
                });
            });
        });
    </script>
}
